<plugin name='json-rest-api' version='1.0' grailsVersion='1.3.0 &gt; *'>
  <author>Matthias Hryniszak</author>
  <authorEmail>padcom@gmail.com</authorEmail>
  <title>JSON RESTful API for GORM</title>
  <description>\
This plugin provides effortless JSON API for GORM classes
</description>
  <documentation>http://grails.org/plugin/json-rest-api</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>JsonRestApiUrlMappings</resource>
    <resource>org.grails.plugins.rest.JsonRestApiController</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>